.offCanvasMenu {
  left: -100%;
  top: 0;
  position: fixed;
  background-color: var(--background-color);
  padding: 0 15px 15px 15px;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  transition: left 300ms;

  &.open {
    left: 0;
  }

  .closeButton {
    font-size: 1.1em;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .logo {
    width: 50px;
    padding-top: 5px;
  }
}
