@import "../../styles/variables";

.pageLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $dialogZIndex * 10;
  pointer-events: none;

  .bar {
    background-color: var(--color);
    height: 3px;
    width: 0;
    opacity: 0;
    transition: width 350ms linear, opacity 350ms linear;

    &.hidden {
      animation: hide 350ms linear;
      opacity: 0;
      width: 0;
    }

    &.loading {
      opacity: 1;
    }
  }
}

@keyframes hide {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
