@import "../../styles/variables";

.popupBase {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  z-index: 10000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  @media (prefers-color-scheme: dark) {
    background-color: lighten($darkBg, 4%);
  }
}
